*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.header{
	width: 46px;
	height: 46px;
	border: 2px solid #dedede;
	background-color: #8cc152;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.header a{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 20px;
	margin-top: 10px;
}	

.pipilika{
	width: 750px;
	margin: 245px auto 0px;
}
.pipilika img{
	display: block;
	margin: auto;
}
.pipilika .pipilika-search input{
	padding: 10px;
	width: 93%;
	box-sizing: border-box;
	float: left;
	border: 2px solid #dedede;
	border-radius: 5px 0px 0px 5px;
	margin: 20px 0px;

}
.pipilika .pipilika-search button{
	width: 7%;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	border: 2px solid #8cc152;
	background-color: #8cc152;
	color: white;
	cursor: pointer;
	border-radius: 0px 5px 5px 0px;
	margin: 20px 0px;
}
.section-img{
	text-align: center;
}
.section-img img{
	width: 70px;
	height: 70px;
	display: inline-block;
	margin: 0px 15px;
	cursor: pointer;
	transition: .4s;
}
.section-img img:hover{
	transform: scale(1.3);
}
.cover img{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	opacity: .8;
}